body{
    background-color: #f0f7fa;
    margin-top: 100px;
}

.nav-link span{
    color: rgba(23,42,58);
}
.navbar{
position: fixed;
text-transform: uppercase;
font-weight: 450;
padding: 8rem;
cursor: pointer;
height: 100px;
letter-spacing: .1em;
font-size: 1em;
min-height: 100px;
height: 50px;
font-family: karla,sans-serif;

}
nav#navbar-main.navbar.navbar-light.fixed-top.navbar-expand-lg.py-0{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
    background: #f0f7fa;
    padding: 0px 21px;
}
div#navbar.collapse.navbar-collapse{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
}
:any-link{
    cursor: pointer;
}
a{
    color:#06805e;
}
.avatar{
    height: 270px;
    width: 270px;
}
.avatar-square{
    border-radius: 3px;
}
img{
    height: 270px;
    max-width: 100%;
    display: block;
    width: 270px;    
}
.big-icon{
    font-size: 2rem;
          
}
.contact-icon li {
    margin-right: 10px;
    display: inline;
}

#profile{
    text-align: center;
    padding: 30px 10px;
    position: relative;
}
img{
    overflow: hidden;
    background: #fff;
    max-width: 100%;
    display: block;
}
   h2{
    display: block;
    font-family: Lora,sans-serif;
}
.portrait-title h3{
    color: #333;
    font-size: 1.75em;
    font-weight: 300;
    letter-spacing: .04em;
    font: lora, sans-serif;
    line-height: 1.25;
}
.vermilion a span{
    color: #06805e;
    background-color: transparent;
    text-decoration: none;
}
a :hover{
    color: #06805e;  
}
.col-12  p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
}
ul.education li .description p.institution{
    font-size: .75rem;
    color: rgba(0, 0, 0, .6);
}
.description p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul .education li .description p.course{
    font-size: .9rem;
}

.description div{
    display: block;
}
.on .btn-lg{
    font-size: 1.1rem;
}
.on .btn{
    padding: .6em 2.1em;
}
.btn {
    font-family: Lora;
    text-transform: lowercase;
    font-style: italic;
    border-radius: 0;
    line-height: .5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    
}
.carousel-para { 
    max-width: 768px;
    font-size: 1.35rem;
    font-family: inherit;
}
#demo h1{ /*check*/
    font-weight: 400;
    letter-spacing: .04em;
    color: #172a3a;
    font-size: 2.25rem;
    font-family: lora;
}

.home-section .wg-pages .section-heading p{ /*check*/
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .08em;
}
.section-heading p{ 
    color: #004346;
    font-weight: 400;
    font-size: 1.1rem;
}
.media.stream-item{
    margin-bottom: 2rem;
}
.media.media.stream-item .article-title{
    font-size: 1.2rem;
}
.media.stream-item h3{
    font-weight: 400;
    letter-spacing: .04em;
    color: #172a3a;
    font-family: lora;
    line-height: 1.25;
}
.article-title a{
    color: #151515;
}
.media.stream-item .article-style{
    margin-top: 2px;
    font-size: .8rem;
}
.media.stream-item .stream-meta{
    margin-top: 12px;
}
.stream-meta.article-metadata{
    margin-bottom: 5px;
}
.article-metadata{
    overflow: hidden;
    font-size: 14px;
    letter-spacing: .03em;
    color: rgba(0,0,0,.54);
}
.middot-divider{
    padding-right: .45em;
    padding-left:.45em ;
    font-size: 15px;
}
.ml-3{
    margin-left: 1rem;
}
.media.stream-item img{
    height: auto;
    object-fit: cover;
    margin-bottom: 1.5rem;
    overflow: hidden;
    background: #fff;
    display: block;
    vertical-align: middle;
    border-style:none ;
    max-width: 150px;
    border-radius: 0;
}
.see-all{
    margin-top: 2rem;
    text-transform: uppercase;
}
.see-all a :hover{
    color: #06805e;
    text-decoration: none;
    transition: .6s ease;
}
footer{
    margin: 4rem 0 0;
    padding: 2rem 0;
    width: 100%;
}
footer p{
    font-size: 1rem;
    text-align: center;
}
.interests{
    box-sizing: border-box;
    font-family: karla;
    font-weight: 400;
    line-height: 26.6805px;
    list-style-type:disc ;
}
h3{
    color: rgb(23,42,58);
    font-family: lora,sans-serif;
    font-size: 20.2125px;
}

.carousel-indicators .active{
    opacity: 1;
}
.carousel-indicators li{
    background-color: #06805e80;
    box-sizing: content-box;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    
}
ol.carousel-indicators{
    margin: 0px 139.698px 21px;
}
p.carousel-para {
    font-family: karla,sans-serif;
    color: white;
}
p.carousel-para{
    margin: 0;
}
a.btn.btn-light.btn-lg{
    color: #044f3a;
    font: 23.1px lora;
    background: #f8f9fa;
    padding: 13.86px 48.51px;

}
.carousel-item.a{
        text-align: center;
        height: 325px;
        background-color: rgb(64, 64, 64);
        background-image: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/image/background.jpg);
        background-size: 100% 100%;
        min-height: 325px;  
        
}
.carousel-item.b{
        text-align: left;
        height: 325px;
        background-color: rgb(64, 64, 64);
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/image/bac2.jpg);
        background-size: 100% 100%;
        min-height: 325px;  
}
.carousel-item.c{
    text-align: right;
    height: 325px;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/image/bac3.jpg);
    background-size: 100% 100%;
    min-height: 325px;  
}
.collapse{
    background-color:#f0f7fa;
    text-align: center;
    width: 100%;
    
}
.navbar-light .navbar-toggler{
    color: #172a3a;
}
.blog:hover{
    color: #151515;
}
.ref:hover{
    color: #06805e;
}
@media (max-width: 985px){
    .image-width{
        margin-left: 3rem;
        object-fit: cover;
    }
}
span.sliding-middle-out{
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: #06805e;;
}
.nav-item a:hover{
    text-decoration: none;
}
.powered-by:hover{
    color: #004346;
}