body{
    background-color: #f0f7fa;
    margin-top: 100px;
}
.nav-link{
    text-decoration: none;
}
.nav-link span{
    color: rgba(23,42,58);
}
.navbar{
position: fixed;
text-transform: uppercase;
font-weight: 450;
top:0;
right: 0;
left: 0;
z-index: 1030;
padding: 8rem;
cursor: pointer;
height: 100px;
letter-spacing: .1em;
font-size: 1em;
min-height: 100px;
height: 50px;
background-color: #f0f7fa;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;

}
.navbar-light{
    font-family: karla,sans-serif;
    font-weight: 400;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

:any-link{
    cursor: pointer;

}
.nav-link{
    color: rgba(23,42,58,.85);
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: 1rem;
}
.nav-link :hover{
    color:#06805e;
    text-decoration: underline;
}
a.nav-link{
    position: relative;
}
nav#navbar-main.navbar.navbar-light.fixed-top.navbar-expand-lg.py-0{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
    background: #f0f7fa;
    padding: 0px 21px;
}
div#navbar.collapse.navbar-collapse{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
}
.nav-link span{
    color: #172a3ad9;
    font: 18.9px karla,sans-serif;
}
.nav-link a:active{
    color:#06805e;
}
footer{
    margin: 4rem 0 0;
    padding: 2rem 0;
    width: 100%;
}
footer p{
    font-size: 1rem;
    text-align: center;
}
a{
    color:#06805e;
}
*{
    box-sizing: border-box;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
img{
    margin-bottom: 1.5rem;
    height: auto;
    width: 100%;
    vertical-align: middle;
      
}
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home-section:not(:first-of-type) {
    padding: 25px 0 50px;
}

.home-section:nth-of-type(even) {
    background-color: #f0f7fa;
}
.contact-widget li:last-of-type {
    margin-bottom: 0;
}

.contact-widget li {
    padding-top: .8rem;
}
.fa-ul>li {
    position: relative;
}
.contact-widget .fa-li {
    position: absolute;
    left: -3.14285714rem;
    width: 2rem;
    top: .14285714em;
    text-align: center;
}

.fas {
    font-weight: 900;
}
.form-control{
    padding: 7.875px 15.75px;

}
nav#navbar-main.navbar.navbar-light.fixed-top.navbar-expand-lg.py-0{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
    background: #f0f7fa;
    padding: 0px 21px;
}
div#navbar.collapse.navbar-collapse{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
}
h1{
    color: #f8f8f2;
    font: 47.25px lora;
    margin: 21px 0px 10.5px;
}
.parallax {
    height: 100%;
    background-attachment: fixed;
}

element.style {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://alison.rbind.io/img/headers/pomegranate.jpg);
    padding: 100px 200px 100px 200px;
    text-align: center;
}
.home-section:first-of-type {
    padding: 50px 0;
}

.home-section:first-of-type {
    padding-top: 50px;
}
.home-section.bg-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
button.btn.btn-outline-primary{
    color: #06805e;
    font: 16.8px lora;
    padding: 10.5px 21px;
    border: #06805e solid;
    border-radius: 0;
}
.fa-ul a:hover{
    text-decoration: underline #06805e;
}
.contact-widget .fa-li {
    position: absolute;
    left: -3.14285714rem;
    width: 2rem;
    top: .14285714em;
    text-align: center;
}
.collapse{
    background-color:#f0f7fa;
    text-align: center;
    width: 100%;
    
}
.navbar-light .navbar-toggler{
    color: #172a3a;
    text-decoration: none;
}
.navbar-light .navbar-brand {
    color: #172a3a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    z-index: 1030;
    display: inline-block;
    font-size: 1.2rem;
    line-height: inherit;
    align-items: center;
}