body{
    background-color: #f0f7fa;
    margin-top: 100px;
}
.nav-link{
    text-decoration: none;
}
.nav-link span{
    color: rgba(23,42,58);
}
.navbar{
position: fixed;
text-transform: uppercase;
font-weight: 450;
top:0;
right: 0;
left: 0;
z-index: 1030;
padding: 8rem;
cursor: pointer;
height: 100px;
letter-spacing: .1em;
font-size: 1em;
min-height: 100px;
height: 50px;
background-color: #f0f7fa;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
font-family: karla,sans-serif;

}
.navbar-light{
    font-family: karla,sans-serif;
    font-weight: 400;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}
nav#navbar-main.navbar.navbar-light.fixed-top.navbar-expand-lg.py-0{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
    background: #f0f7fa;
    padding: 0px 21px;
}
div#navbar.collapse.navbar-collapse{
    color: #172a3a;
    font: 18.9px karla,sans-serif;
}
.nav-link span{
    color: #172a3ad9;
    font: 18.9px karla,sans-serif;
}

:any-link{
    cursor: pointer;

}
.navbar-expand-lg>.container{
    padding-left: 0;
    padding-right: 0;
}
.nav-link{
    color: rgba(23,42,58,.85);
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: 1rem;
}
.nav-link :hover{
    color:#06805e;
    text-decoration: underline;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
}
a:hover:after { 
    width: 50%; 
    left: 23%; }
a.nav-link{
    position: relative;
}

.nav-link a:active{
    color:#06805e;
}
a{
    color:#06805e;
}
.avatar{
    height: 270px;
    width: 270px;
}

.avatar-square{
    border-radius: 3px;
}
img{
        height: 270px;
        max-width: 100%;
        display: block;
        width: 270px;    
}
.big-icon{
        font-size: 2rem;
          
}
       .contact-icon li {
        margin-right: 10px;
        display: inline;
    }

   #profile{
    text-align: center;
    padding: 30px 10px;
    position: relative;
   }

  
  
   img{
       overflow: hidden;
       background: #fff;
       max-width: 100%;
       display: block;
   }
   h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: sans-serif;
   }
   .portrait-title h3{ /*check*/
       color: #333;
       font-size: 1.75em;
       font-weight: 300;
       letter-spacing: .04em;
       font: lora, sans-serif;
       line-height: 1.25;
   }
   .rstudio a span{  /*check*/
       color: #06805e;
       background-color: transparent;
       text-decoration: none;
   }
   a :hover{
    color: #06805e;
    text-decoration: underline;
   }
   .col-12  p{
       margin-top: 0;
       margin-bottom: 1rem;
       font-size: 20px;
   }
   ul.education li .description p.institution{
       font-size: .75rem;
       color: rgba(0, 0, 0, .6);
   }
   .description p{
       display: block;
       margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }
   ul .education li .description p.course{
       font-size: .9rem;
   }
   .course p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }
   .description div{
       display: block;
   }
   
   
   .on .btn-lg{
       font-size: 1.1rem;
   }
   .on .btn{
       padding: .6em 2.1em;
   }
   .btn {
    font-family: Lora;
    text-transform: lowercase;
    font-style: italic;
    border-radius: 0;
    line-height: .5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    
}
.carousel-para { /*check*/
    max-width: 768px;
    font-size: 1.35rem;
    font-family: inherit;
}
#demo h1{ /*check*/
    font-weight: 400;
    letter-spacing: .04em;
    color: #172a3a;
    font-size: 2.25rem;
    font-family: lora;
}

.home-section .wg-pages .section-heading p{ /*check*/
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .08em;
}
.section-heading p{  /*check*/
    color: #004346;
    font-weight: 400;
    font-size: 1.1rem;
}
.media.stream-item{  /*check*/
    margin-bottom: 2rem;
}
.media{  /*check*/
    display: flex;
    align-items: flex-start;
}
.media-body{ /*check*/
    flex: 1;
}
.media.media.stream-item .article-title{
    font-size: 1.2rem;
}
.mb-0{
    margin-bottom: 0;
    margin-top: 0;
}
.media.stream-item h3{
    font-weight: 400;
    letter-spacing: .04em;
    color: #172a3a;
    font-family: lora;
    line-height: 1.25;
}
.article-title a{
    color: #151515;
}
.media.stream-item .article-style{
    margin-top: 2px;
    font-size: .8rem;
}
.media.stream-item .stream-meta{
    margin-top: 12px;
}
.stream-meta.article-metadata{
    margin-bottom: 5px;
}
.article-metadata{
    overflow: hidden;
    font-size: 14px;
    letter-spacing: .03em;
    color: rgba(0,0,0,.54);
}
.middot-divider{
    padding-right: .45em;
    padding-left:.45em ;
    font-size: 15px;
}
.ml-3{
    margin-left: 1rem;
}
.media.stream-item img{
    height: auto;
    object-fit: cover;
    margin-bottom: 1.5rem;
    overflow: hidden;
    background: #fff;
    display: block;
    vertical-align: middle;
    border-style:none ;
    max-width: 150px;
    border-radius: 0;
}
.see-all{
    margin-top: 2rem;
    text-transform: uppercase;
}
.see-all a :hover{
    color: #06805e;
    text-decoration: none;
    transition: .6s ease;
}
footer{
    margin: 4rem 0 0;
    padding: 2rem 0;
    width: 100%;
}
footer p{
    font-size: 1rem;
    text-align: center;
}
.interests{
    box-sizing: border-box;
    font-family: karla;
    font-weight: 400;
    line-height: 26.6805px;
    list-style-type:disc ;
}
h3{
    color: rgb(23,42,58);
    font-family: lora,sans-serif;
    font-size: 20.2125px;
}

.carousel-indicators .active{
    opacity: 1;
}
.carousel-indicators li{
    background-color: #06805e80;
    box-sizing: content-box;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    
}
ol.carousel-indicators{
    margin: 0px 139.698px 21px;
}
p.carousel-para {
    font-family: karla,sans-serif;
    color: white;
}
a.btn.btn-light.btn-lg{
    color: #044f3a;
    font: 23.1px lora;
    background: #f8f9fa;
    padding: 13.86px 48.51px;

}
.on.item{
        text-align: center;
        height: 325px;
        background-color: rgb(64, 64, 64);
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./image/background.jpg);
        min-height: 325px;
    
}

